AB Test New Participants
{"id":"2","name":"AB Test New Participants","active":false,"nodes":[{"parameters":{},"name":"Start","type":"n8n-nodes-base.start","typeVersion":1,"position":[400,360]},{"parameters":{"triggerTimes":{"item":[{"hour":8}]}},"name":"Cron","type":"n8n-nodes-base.cron","typeVersion":1,"position":[410,200]},{"parameters":{"requestMethod":"POST","url":"https://rbox.app/box/request/e71cdf3c-f312-423a-9f05-3a264ecbf49e","options":{},"queryParametersUi":{"parameter":[{"name":"Hello","value":"World"}]}},"name":"HTTP Request","type":"n8n-nodes-base.httpRequest","typeVersion":1,"position":[650,270]},{"parameters":{"functionCode":"// var apiResponse = items[0].json;\n// For testing purposes, use a fake response object\nvar exampleAPIResponse = {\n  people: [\n    {\n      name: \"Adam Smith\",\n      email: \"fyang28@uchicago.edu\",\n      sex: \"male\"\n    },\n    {\n      name: \"Betty Johnson\",\n      email: \"fyang28@uchicago.edu\",\n      sex: \"female\"\n    }\n  ]\n};\n\n// The following code builds an array of participants to be processed by the next \"Split in Batch\" node\nvar ret = []\nfor (participant of exampleAPIResponse.people){\n  // We only want to send emails to female participants, for the purpose of AB testing\n  if (participant.sex === \"female\")\n  {\n    ret.push({\"json\": participant});\n  }\n}\nreturn ret;\n"},"name":"Function","type":"n8n-nodes-base.function","typeVersion":1,"position":[860,280]},{"parameters":{"batchSize":1,"options":{}},"name":"SplitInBatches","type":"n8n-nodes-base.splitInBatches","typeVersion":1,"position":[1070,290]},{"parameters":{"subject":"Welcome to IPPH","body":"=Hello {{$json[\"name\"]}},\n\nThis is an email for {{$json[\"sex\"]}} customers.\n\nThanks,\nIPPH","fromEmail":"ipph@uchicago.edu","toAddresses":["={{$json[\"email\"]}}"],"additionalFields":{}},"name":"AWS SES","type":"n8n-nodes-base.awsSes","typeVersion":1,"position":[1320,550],"credentials":{"aws":"fyang28"}}],"connections":{"Cron":{"main":[[{"node":"HTTP Request","type":"main","index":0}]]},"Start":{"main":[[{"node":"HTTP Request","type":"main","index":0}]]},"HTTP Request":{"main":[[{"node":"Function","type":"main","index":0}]]},"Function":{"main":[[{"node":"SplitInBatches","type":"main","index":0}]]},"SplitInBatches":{"main":[[{"node":"AWS SES","type":"main","index":0}]]},"AWS SES":{"main":[[{"node":"SplitInBatches","type":"main","index":0}]]}},"createdAt":"2021-08-23T15:13:22.963Z","updatedAt":"2021-08-23T15:37:24.204Z","settings":{},"staticData":null}