Backup Workflows To GitHub
{"id":"3","name":"Backup Workflows To GitHub","active":false,"nodes":[{"parameters":{},"name":"Start","type":"n8n-nodes-base.start","typeVersion":1,"position":[200,300]},{"parameters":{"authentication":"basicAuth","url":"https://n8n.ipph.dev/rest/workflows","options":{},"headerParametersUi":{"parameter":[]},"queryParametersUi":{"parameter":[]}},"name":"Get workflow list","type":"n8n-nodes-base.httpRequest","typeVersion":1,"position":[380,300],"credentials":{"httpBasicAuth":"n8n login"}},{"parameters":{"functionCode":"const newItems = [];\nfor (item of items[0].json.data) {\n  newItems.push({json: item});\n}\nreturn newItems;\n"},"name":"Format response to array","type":"n8n-nodes-base.function","typeVersion":1,"position":[570,310]},{"parameters":{"batchSize":1,"options":{}},"name":"One for each","type":"n8n-nodes-base.splitInBatches","typeVersion":1,"position":[760,310]},{"parameters":{"authentication":"oAuth2","resource":"file","operation":"get","owner":"ScienceHu","repository":"test_n8n","filePath":"={{$node[\"One for each\"].json[\"name\"]}}","asBinaryProperty":false},"name":"Get workflow from GitHub","type":"n8n-nodes-base.github","typeVersion":1,"position":[920,310],"alwaysOutputData":true,"credentials":{"githubOAuth2Api":"Freddie's github"},"continueOnFail":true},{"parameters":{"conditions":{"number":[],"string":[],"boolean":[{"value1":"={{$node[\"Format GitHub response\"].json[\"workflow_exists_on_github\"]}}","value2":true}]}},"name":"Workflow Exists","type":"n8n-nodes-base.if","typeVersion":1,"position":[1590,280]},{"parameters":{"triggerTimes":{"item":[{"hour":6}]}},"name":"Cron","type":"n8n-nodes-base.cron","typeVersion":1,"position":[200,490]},{"parameters":{"authentication":"basicAuth","url":"=https://n8n.ipph.dev/rest/workflows/{{$node[\"One for each\"].json[\"id\"]}}","options":{}},"name":"Get workflow source","type":"n8n-nodes-base.httpRequest","typeVersion":1,"position":[1280,280],"credentials":{"httpBasicAuth":"n8n login"}},{"parameters":{"functionCode":"item.workflow_exists_on_github = !!item.download_url;\nreturn item;\n"},"name":"Format GitHub response","type":"n8n-nodes-base.functionItem","typeVersion":1,"position":[1100,350]},{"parameters":{"functionCode":"item.workflow_source_str = JSON.stringify(item.data);\nreturn item;"},"name":"Format workflow response","type":"n8n-nodes-base.functionItem","typeVersion":1,"position":[1450,340]},{"parameters":{"authentication":"oAuth2","resource":"file","operation":"edit","owner":"ScienceHu","repository":"test_n8n","filePath":"={{$node[\"One for each\"].json[\"name\"]}}","fileContent":"={{$node[\"Format workflow response\"].json[\"workflow_source_str\"]}}","commitMessage":"Edited"},"name":"Edit workflow","type":"n8n-nodes-base.github","typeVersion":1,"position":[1760,80],"credentials":{"githubOAuth2Api":"Freddie's github"}},{"parameters":{"authentication":"oAuth2","resource":"file","owner":"ScienceHu","repository":"test_n8n","filePath":"={{$node[\"One for each\"].json[\"name\"]}}","fileContent":"={{$node[\"Format workflow response\"].json[\"workflow_source_str\"]}}","commitMessage":"Created"},"name":"Create workflow","type":"n8n-nodes-base.github","typeVersion":1,"position":[1770,560],"credentials":{"githubOAuth2Api":"Freddie's github"}}],"connections":{"Start":{"main":[[{"node":"Get workflow list","type":"main","index":0}]]},"Get workflow list":{"main":[[{"node":"Format response to array","type":"main","index":0}]]},"Format response to array":{"main":[[{"node":"One for each","type":"main","index":0}]]},"One for each":{"main":[[{"node":"Get workflow from GitHub","type":"main","index":0}]]},"Get workflow from GitHub":{"main":[[{"node":"Format GitHub response","type":"main","index":0}]]},"Workflow Exists":{"main":[[{"node":"Edit workflow","type":"main","index":0}],[{"node":"Create workflow","type":"main","index":0}]]},"Cron":{"main":[[{"node":"Get workflow list","type":"main","index":0}]]},"Get workflow source":{"main":[[{"node":"Format workflow response","type":"main","index":0}]]},"Format GitHub response":{"main":[[{"node":"Get workflow source","type":"main","index":0}]]},"Format workflow response":{"main":[[{"node":"Workflow Exists","type":"main","index":0}]]},"Edit workflow":{"main":[[{"node":"One for each","type":"main","index":0}]]},"Create workflow":{"main":[[{"node":"One for each","type":"main","index":0}]]}},"createdAt":"2021-08-24T15:03:35.146Z","updatedAt":"2021-08-24T19:20:21.142Z","settings":{},"staticData":null}