Backup Workflows To GitHub
{"id":"3","name":"Backup Workflows To GitHub","active":false,"nodes":[{"parameters":{},"name":"Start","type":"n8n-nodes-base.start","typeVersion":1,"position":[320,300]},{"parameters":{"authentication":"basicAuth","url":"https://n8n.ipph.dev/rest/workflows","options":{},"headerParametersUi":{"parameter":[]},"queryParametersUi":{"parameter":[]}},"name":"Get workflow list","type":"n8n-nodes-base.httpRequest","typeVersion":1,"position":[500,300],"credentials":{"httpBasicAuth":"n8n login"}},{"parameters":{"functionCode":"const newItems = [];\nfor (item of items[0].json.data) {\n  newItems.push({json: item});\n}\nreturn newItems;\n"},"name":"Format response to array","type":"n8n-nodes-base.function","typeVersion":1,"position":[690,300]},{"parameters":{"batchSize":1,"options":{}},"name":"One for each","type":"n8n-nodes-base.splitInBatches","typeVersion":1,"position":[870,300]},{"parameters":{"authentication":"oAuth2","resource":"file","operation":"get","owner":"ScienceHu","repository":"test_n8n","filePath":"={{$node[\"One for each\"].json[\"name\"]}}","asBinaryProperty":false},"name":"Get workflow from GitHub","type":"n8n-nodes-base.github","typeVersion":1,"position":[1250,300],"alwaysOutputData":true,"credentials":{"githubOAuth2Api":"Freddie's github"},"continueOnFail":true},{"parameters":{"conditions":{"number":[],"string":[],"boolean":[{"value1":"={{$node[\"Format Response\"].json[\"workflow_exists_on_github\"]}}","value2":true}]}},"name":"Workflow Exists","type":"n8n-nodes-base.if","typeVersion":1,"position":[1630,300]},{"parameters":{"authentication":"oAuth2","resource":"file","owner":"ScienceHu","repository":"test_n8n","filePath":"={{$node[\"Get workflow source\"].json[\"name\"]}}","fileContent":"={{$node[\"Get workflow source\"].json[\"name\"]}}","commitMessage":"Created"},"name":"Create Workflow","type":"n8n-nodes-base.github","typeVersion":1,"position":[1780,570],"credentials":{"githubOAuth2Api":"Freddie's github"}},{"parameters":{"authentication":"oAuth2","resource":"file","operation":"edit","owner":"ScienceHu","repository":"test_n8n","filePath":"={{$node[\"One for each\"].json[\"name\"]}}","fileContent":"={{$node[\"Get workflow source\"].json[\"name\"]}}","commitMessage":"Edited"},"name":"Edit Workflow","type":"n8n-nodes-base.github","typeVersion":1,"position":[1740,70],"credentials":{"githubOAuth2Api":"Freddie's github"}},{"parameters":{"triggerTimes":{"item":[{"hour":6}]}},"name":"Cron","type":"n8n-nodes-base.cron","typeVersion":1,"position":[320,490]},{"parameters":{"functionCode":"item.workflow_exists_on_github = !!item.download_url;\nitem.workflow_source_str = JSON.stringify(item.data);\nreturn item;\n"},"name":"Format Response","type":"n8n-nodes-base.functionItem","typeVersion":1,"position":[1450,300]},{"parameters":{"authentication":"basicAuth","url":"=https://n8n.ipph.dev/rest/workflows/{{$json[\"id\"]}}","options":{}},"name":"Get workflow source","type":"n8n-nodes-base.httpRequest","typeVersion":1,"position":[1040,300],"credentials":{"httpBasicAuth":"n8n login"}}],"connections":{"Start":{"main":[[{"node":"Get workflow list","type":"main","index":0}]]},"Get workflow list":{"main":[[{"node":"Format response to array","type":"main","index":0}]]},"Format response to array":{"main":[[{"node":"One for each","type":"main","index":0}]]},"One for each":{"main":[[{"node":"Get workflow source","type":"main","index":0}]]},"Get workflow from GitHub":{"main":[[{"node":"Format Response","type":"main","index":0}]]},"Workflow Exists":{"main":[[{"node":"Edit Workflow","type":"main","index":0}],[{"node":"Create Workflow","type":"main","index":0}]]},"Create Workflow":{"main":[[{"node":"One for each","type":"main","index":0}]]},"Edit Workflow":{"main":[[{"node":"One for each","type":"main","index":0}]]},"Cron":{"main":[[{"node":"Get workflow list","type":"main","index":0}]]},"Format Response":{"main":[[{"node":"Workflow Exists","type":"main","index":0}]]},"Get workflow source":{"main":[[{"node":"Get workflow from GitHub","type":"main","index":0}]]}},"createdAt":"2021-08-24T15:03:35.146Z","updatedAt":"2021-08-24T19:02:58.064Z","settings":{},"staticData":null}