Send Appt Reminder Emails & Texts
{"id":"1","name":"Send Appt Reminder Emails & Texts","active":false,"nodes":[{"parameters":{},"name":"Start","type":"n8n-nodes-base.start","typeVersion":1,"position":[480,330]},{"parameters":{"triggerTimes":{"item":[{"mode":"everyMinute"}]}},"name":"Cron","type":"n8n-nodes-base.cron","typeVersion":1,"position":[480,170]},{"parameters":{"conditions":{"boolean":[{"value1":"={{$node[\"Loop\"].context[\"noItemsLeft\"]}}","value2":true}]}},"name":"If loop finished","type":"n8n-nodes-base.if","typeVersion":1,"position":[1380,120]},{"parameters":{"functionCode":"// var apiResponse = items[0].json;\n// For testing purposes, use a fake response object\nvar exampleAPIResponse = {\n  people: [\n    {\n      name: \"Adam Smith\",\n      email: \"fyang28@uchicago.edu\",\n      dd: new Date().toString()\n    },\n    {\n      name: \"Betty Jhonson\",\n      email: \"fyang28@uchicago.edu\",\n      dd: new Date().toString()\n    }\n  ]\n};\n\n// The following code builds an array of participants to be processed by the next \"Split in Batch\" node\nvar ret = []\nfor (participant of exampleAPIResponse.people){\n  ret.push({\"json\": participant});\n}\nreturn ret;"},"name":"Format http response","type":"n8n-nodes-base.function","typeVersion":1,"position":[900,270]},{"parameters":{"requestMethod":"POST","url":"https://rbox.app/box/request/0287b44c-cf6d-4099-b7af-150484b78052","options":{},"queryParametersUi":{"parameter":[{"name":"xHoursFromNow","value":"24"},{"name":"study","value":"connect"},{"name":"canReceiveEmail","value":"yes"},{"name":"keyword","value":"hello"}]}},"name":"Get upcoming appts","type":"n8n-nodes-base.httpRequest","typeVersion":1,"position":[720,270]},{"parameters":{"batchSize":1,"options":{}},"name":"Loop","type":"n8n-nodes-base.splitInBatches","typeVersion":1,"position":[1070,270]},{"parameters":{"batchSize":1,"options":{}},"name":"Loop for SNS","type":"n8n-nodes-base.splitInBatches","typeVersion":1,"position":[1880,240]},{"parameters":{"functionCode":"// Without this code, the next loop node will only execute once\n// This code makes sure the next loop operates on the full list of participants returned by the HTTP request earlier in the workflow\n// Note: \"Format http response\" is the name of the node following that HTTP request.\n// If you, for some reason, wants to change the name of that node, you need to change this code as well\nreturn $items(\"Format http response\");\n"},"name":"Re-format loop items","type":"n8n-nodes-base.function","typeVersion":1,"position":[1590,180]},{"parameters":{"url":"https://rbox.app/box/request/0287b44c-cf6d-4099-b7af-150484b78052","options":{},"queryParametersUi":{"parameter":[{"name":"banana","value":"={{$node[\"Re-format loop items\"].json[\"dd\"]}}"}]}},"name":"HTTP Request","type":"n8n-nodes-base.httpRequest","typeVersion":1,"position":[2060,450]},{"parameters":{"amount":2,"unit":"minutes"},"name":"Wait 1 minute","type":"n8n-nodes-base.wait","typeVersion":1,"position":[1740,30],"webhookId":"587bb937-042a-416d-8c27-8193f7ffec4e"}],"connections":{"Start":{"main":[[{"node":"Get upcoming appts","type":"main","index":0}]]},"Cron":{"main":[[{"node":"Get upcoming appts","type":"main","index":0}]]},"If loop finished":{"main":[[{"node":"Re-format loop items","type":"main","index":0}],[{"node":"Loop","type":"main","index":0}]]},"Format http response":{"main":[[{"node":"Loop","type":"main","index":0}]]},"Get upcoming appts":{"main":[[{"node":"Format http response","type":"main","index":0}]]},"Loop":{"main":[[{"node":"If loop finished","type":"main","index":0}]]},"Loop for SNS":{"main":[[{"node":"HTTP Request","type":"main","index":0}]]},"Re-format loop items":{"main":[[{"node":"Wait 1 minute","type":"main","index":0}]]},"HTTP Request":{"main":[[{"node":"Loop for SNS","type":"main","index":0}]]},"Wait 1 minute":{"main":[[{"node":"Loop for SNS","type":"main","index":0}]]}},"createdAt":"2021-08-23T15:05:42.029Z","updatedAt":"2021-08-27T15:09:08.184Z","settings":{},"staticData":null,"tags":[]}