Send Reminder Emails 24 Hours Prior
{"id":"1","name":"Send Reminder Emails 24 Hours Prior","active":false,"nodes":[{"parameters":{},"name":"Start","type":"n8n-nodes-base.start","typeVersion":1,"position":[480,330]},{"parameters":{"triggerTimes":{"item":[{"mode":"everyHour"}]}},"name":"Cron","type":"n8n-nodes-base.cron","typeVersion":1,"position":[490,170]},{"parameters":{"requestMethod":"POST","url":"https://rbox.app/box/request/e71cdf3c-f312-423a-9f05-3a264ecbf49e","options":{},"queryParametersUi":{"parameter":[{"name":"xHoursFromNow","value":"24"},{"name":"study","value":"connect"},{"name":"canReceiveEmail","value":"yes"},{"name":"keyword","value":"hello"}]}},"name":"HTTP Request","type":"n8n-nodes-base.httpRequest","typeVersion":1,"position":[730,270]},{"parameters":{"functionCode":"// var apiResponse = items[0].json;\n// For testing purposes, use a fake response object\nvar exampleAPIResponse = {\n  people: [\n    {\n      name: \"Adam Smith\",\n      email: \"fyang28@uchicago.edu\"\n    },\n    {\n      name: \"Betty Johnson\",\n      email: \"fyang28@bsd.uchicago.edu\"\n    }\n  ]\n};\n\n// The following code builds an array of participants to be processed by the next \"Split in Batch\" node\nvar ret = []\nfor (participant of exampleAPIResponse.people){\n  ret.push({\"json\": participant});\n}\nreturn ret;"},"name":"Function","type":"n8n-nodes-base.function","typeVersion":1,"position":[900,270]},{"parameters":{"batchSize":1,"options":{}},"name":"SplitInBatches","type":"n8n-nodes-base.splitInBatches","typeVersion":1,"position":[1070,270]},{"parameters":{"subject":"IPPH Appointment Reminder","body":"=Hi {{$json[\"name\"]}},\n\nThis is a test email.\n\nThanks,\nIPPH","fromEmail":"ipph@uchicago.edu","toAddresses":["={{$json[\"email\"]}}"],"additionalFields":{}},"name":"AWS SES","type":"n8n-nodes-base.awsSes","typeVersion":1,"position":[1320,450],"credentials":{"aws":"fyang28"}}],"connections":{"Start":{"main":[[{"node":"HTTP Request","type":"main","index":0}]]},"Cron":{"main":[[{"node":"HTTP Request","type":"main","index":0}]]},"HTTP Request":{"main":[[{"node":"Function","type":"main","index":0}]]},"Function":{"main":[[{"node":"SplitInBatches","type":"main","index":0}]]},"SplitInBatches":{"main":[[{"node":"AWS SES","type":"main","index":0}]]},"AWS SES":{"main":[[{"node":"SplitInBatches","type":"main","index":0}]]}},"createdAt":"2021-08-23T15:05:42.029Z","updatedAt":"2021-08-23T15:05:42.029Z","settings":{},"staticData":null}